* {
   
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 1em;
}

section {
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2em;
}