p {
   /*width: 66ch;*/
   /*line-height: 1.1;*/

}

.site {
    width: 66ch;
    margin: 0 auto;
}

body {
  background:#7f8c8d;
  color: #ecf0f1;
}

a {
  color: #f39c12;
  text-decoration: none;
}

a:hover {
    color: red;
    background-color: greenyellow;
   
}